              <!-- Footer  -->
              <footer class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <div class="footer-links">
                                <h3>projects</h3>
            <p class="py-1"><a href="https://afromeme.herokuapp.com">AfroMeme</a></p>
            <p class="py-1"><a href="https://nnuuk.com">NNUUK</a></p>
            <p class="py-1"><a href="https://itschoolint.herokuapp.com">FORM</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4">
                        <div class="footer-links">
                            <h3>Contact</h3>
                            <p class="py-1"><a href="https://gmail.com/marcsitze01">Email</a></p>
                            <p class="py-1"><a href="sms:+237699576276">Telephone</a></p>
                            <p class="py-1"><a href="whatsapp:+237699576276">Whatsapp</a></p>
                        </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4">
                          <div class="footer-links">
                            <h3>Social network</h3>
                            <p class="py-1"><a href="https://www.youtube.com/channel/UCvfgOMn6WQOiMfBDHGZT5mA">YouTube</a></p>
                            <p class="py-1"><a href="https://github.com/marcSitze">Github</a></p>
                            <p class="py-1"><a href="https://instagram.com/jorelmarc">Instagram</a></p>
                            <p class="py-1"><a href="https://facebook.com/marcsitze">Facebook</a></p>
                            <p class="py-1"><a href="https://twitter.com/Marcjorel1">Twitter</a></p>
                        </div>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copy-footer">
                                <p>
                                Copyright &copy; 2020 All Rights Reserved By <span>&#64;theblackdev</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Back To Top -->
            <div id="scrolltp" class="nav-item">
                  <a href="#header" id="back-to-top" data-scroll="#myCarousel" class="btn btn-lg btn-yellow btn-back-to-top smooth-scroll" title="home" role="button">
                    <i class="fa fa-angle-up"></i>
                  </a>      
            </div>
                
            </footer>
            
              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-capitalize">video example</h5>
                      <button type="button" class="close" data-dismiss="modal">
                      <span>&times;</span>
                    </button>
                    </div>
            
            
                    <div class="modal-body">
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=UnqhyzM-CqQ&t=27s" allowfullscreen></iframe>
                      </div>
                    </div>
            
            
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            
                    </div>
                  </div>
                </div>
              </div>
            
            
            
              <!-- Optional JavaScript -->
            
            
              <!-- jQuery first, then Popper.js, then Bootstrap JS -->
              <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
              <script src="/js/jquery.min.js"></script>
              <script src="/js/bootstrap.min.js"></script>
            
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
              <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
              <!--  isotope-->
              <script src="/js/isotope/isotope.pkgd.min.js"></script>
            
              <!-- CUSTOM JS -->
              <script src="/js/script.js"></script>
              <script src="/js/youtube.js"></script>
              <!-- <script src="/js/submit.js"></script> -->
            
  </body>

</html>
            
