<%- include('../layouts/header.ejs') %>  
<div class="container-fluid icon-top py-2 px-3">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-baseline">
        <div class="top-icons">
          <a href="https://www.youtube.com/channel/UCvfgOMn6WQOiMfBDHGZT5mA" class="mx-2"><i class="fab fa-youtube"></i></a>
          <a href="https://github.com/marcSitze" class="mx-2"><i class="fab fa-github"></i></a>
          <a href="https://facebook.com/marcsitze" class="mx-2"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/Marcjorel1" class="mx-2"><i class="fab fa-twitter"></i></a>
          <a href="https://instagram.com/jorelmarc" class="mx-2"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.cn/in/the-black-dev-19816419a" class="mx-2"><i class="fab fa-linkedin"></i></a>
        </div>
        <!-- <h5 class="text-capitalize">all rights reserved</h5> -->

      </div>
    </div>
  </div>
  <header id="header">
    <nav id="navbar" class="navbar navbar-expand-lg">
      <a class="navbar-brand px-2 py-0 " href="#">Coder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </button>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link m-2 text-capitalize nav-active" href="#header">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2 text-capitalize" href="#skills">Skills</a>
          </li>

          <li class="nav-item">
            <a class="nav-link m-2 text-capitalize" href="#about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2 text-capitalize" href="#projects">projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2 text-capitalize" href="#posts">posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2 text-capitalize" href="#reviews">reviews</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col no-padding">
          <div id="demo-slider" class="carousel slide" data-ride="carousel">



            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item item-1 active">
                <div class="carousel-caption mb-5 text-right">
                  <h1 class="display-3 text-capitalize mb-5 text-light">I am Developer</h1>
                  <!-- <a href="#" class="btn btn-lg mb-5 text-uppercase banner-btn">my work</a> -->
                </div>
              </div>
              <div class="carousel-item item-2">
                <div class="carousel-caption mb-5 text-center">
                  <h1 class="display-3 text-capitalize mb-5 text-light">I am not Designer</h1>
                  <!-- <a href="#" class="btn btn-lg mb-5 text-uppercase banner-btn">my work</a> -->
                </div>
              </div>
              <div class="carousel-item item-3">
                <div class="carousel-caption mb-5 text-left">
                  <h1 class="display-3 text-capitalize mb-5 text-light">I am Artist</h1>
                  <!-- <a href="#" class="btn btn-lg mb-5 text-uppercase banner-btn">my work</a> -->
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#demo-slider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
            <a class="carousel-control-next" href="#demo-slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>




          </div>
        </div>
      </div>
    </div>
  </header>
  <!--skills section-->

  <section id="skills" class="pb-5">
    <div class="container">
      <!--     title-->
      <div class="row title mb-5">
        <div class="col text-center">
          <h1 class="text-uppercase">my skills</h1>
          <h3 class="text-capitalize">A brief overview of my stack.</h3>
          <a href="#" class="mb-0"><i class="far fa-check-square"></i></a>
          <div class="title-underline"></div>

        </div>

      </div>
      <!--      end of title-->
      <div class="row">
        <!--       item-->
        <div class="col-lg-6 my-5">
          <div class="row">
            <div class="col-6 d-flex align-items-center skills-icon">
              <span><i class="fab fa-html5"></i></span>
            </div>
            <div class="col-6">
              <h3 class="text-uppercase">html</h3>
              <p class="text-muted">A markup language used in building the architecture and skeleton of a website. It's not a programming language</p>
            </div>
          </div>
        </div>
        <!--        item-->
        <!--       item-->
        <div class="col-lg-6 my-5">
          <div class="row">
            <div class="col-6 d-flex align-items-center skills-icon">
              <span><i class="fab fa-css3"></i></span>
            </div>
            <div class="col-6">
              <h3 class="text-uppercase">css</h3>
              <p class="text-muted">Cascading style sheet used to format the layout of web pages. They can be used to define text styles, table sizes and other aspects of web pages.</p>
            </div>
          </div>
        </div>
        <!--        item-->
        <!--       item-->
        <div class="col-lg-6 my-5">
          <div class="row">
            <div class="col-6 d-flex align-items-center skills-icon">
              <span><i class="fab fa-js"></i></span>
            </div>
            <div class="col-6">
              <h3 class="text-uppercase">javascript</h3>
              <p class="text-muted">Is a dynamic computer programming language. Its implementation allow client-side script to interact with the user and make dynamic pages. It is object oriented.</p>
            </div>
          </div>
        </div>
        <!--        item-->
        <!--       item-->
        <div class="col-lg-6 my-5">
          <div class="row">
            <div class="col-6 d-flex align-items-center skills-icon">
              <span><i class="fab fa-node-js"></i></span>
            </div>
            <div class="col-6">
              <h3 class="text-uppercase">node</h3>
              <p class="text-muted">Nodejs is a runtime environment for executing javascript on the server side. It is most popular for it's ease in building fast and scalable network applications (Backend).</p>
            </div>
          </div>
        </div>
        <!--        item-->
        <!--       item-->
        <!-- <div class="col-lg-6 my-5">
          <div class="row">
            <div class="col-6 d-flex align-items-center skills-icon">
              <span><i class="fab fa-angular"></i></span>
            </div>
            <div class="col-6">
              <h3 class="text-uppercase">angular</h3>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, architecto iusto est aliquid, corporis excepturi cupiditate iure hic accusantium fugiat.</p>
            </div>
          </div>
        </div> -->
        <!--        item-->
        <!--       item-->
        <div class="col-lg-6 my-5">
          <div class="row">
            <div class="col-6 d-flex align-items-center skills-icon">
              <span><i class="fab fa-react"></i></span>
            </div>
            <div class="col-6">
              <h3 class="text-uppercase">react</h3>
              <p class="text-muted">Reactjs is a javascript library for building frontend web applications or UI. Reactjs allows us to create reusable UI components, efficient and fast web applications. It is developed by facebook.</p>
            </div>
          </div>
        </div>
        <!--        item-->
      </div>
    </div>

  </section>
  <!--end of skills section-->
  <section id="about" class="pb-5">
    <!--video filler-->
    <article id="modal-filler" class="d-flex align-items-center justify-content-center">
      <!-- modal -->
      <a href="#"><i class="fas fa-play-circle" data-toggle="modal" data-target="#myModal"></i></a>






    </article>
    <!-- end of video fliller-->
    <div class="container">
      <!--     title-->
      <div class="row title my-5">
        <div class="col text-center">
          <h1 class="text-uppercase">about me</h1>
          <!-- <h3 class="text-capitalize">Lorem ipsum dolor sit amet.</h3> -->
          <a href="#" class="mb-0"><i class="fas fa-globe"></i></a>
          <div class="title-underline"></div>

        </div>

      </div>
      <!--      end of title-->
      <div class="row mb-5">
        <div class="col-md-6 about-progress mb-5 d-flex flex-column justify-content-center">
          <div class="progress-bars">
            <!--           html-->

            <div class="bar my-3">
              <h5 class="text-light text-uppercase d-flex justify-content-between">html<span>95%</span></h5>
              <div class="progress bg-light">

                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">95%</div>
              </div>
            </div>
            <!--           end of html -->
            <!--           html-->

            <div class="bar my-3">
              <h5 class="text-light text-uppercase d-flex justify-content-between">css<span>80%</span></h5>
              <div class="progress bg-light">

                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
            </div>
            <!--           end of html -->
            <!--           html-->

            <div class="bar my-3">
              <h5 class="text-light text-uppercase d-flex justify-content-between">javascript<span>90%</span></h5>
              <div class="progress bg-light">

                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
              </div>
            </div>
            <!--           end of html -->
            <!--           html-->

            <div class="bar my-3">
              <h5 class="text-light text-uppercase d-flex justify-content-between">reactjs<span>80%</span></h5>
              <div class="progress bg-light">

                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
            </div>

            <div class="bar my-3">
              <h5 class="text-light text-uppercase d-flex justify-content-between">nodejs<span>80%</span></h5>
              <div class="progress bg-light">

                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
            </div>

            <div class="bar my-3">
              <h5 class="text-light text-uppercase d-flex justify-content-between">mongodb<span>65%</span></h5>
              <div class="progress bg-light">

                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">65%</div>
              </div>
            </div>
            <!--           end of html -->


          </div>
        </div>
        <div class="col-md-6 py-5 about-text text-center">
          <h2 class="text-uppercase">always learning and pushing boundries</h2>
          <p class="lead text-light">
              I'm a junior fullstack javascript developer, I took a MERN stack course on udemy where
            I learned web app developement from scratch using the web technologies listed beside and obtained the certificate.
            I have good practices and write clean code easy for maintenance.  
        </p>
          <a href="/img/file/certificate-stack.jpg" class="btn btn-lg d-block w-75 mx-auto text-uppercase mb-5">download certificate</a>
        </div>
      </div>
    </div>


  </section>
  <!--end of about-->
  <!--  projects-->
  <section id="projects" class="py-5">
    <div class="container">
      <!--     title-->
      <div class="row title mb-5">
        <div class="col text-center">
          <h1 class="text-uppercase">projects</h1>
          <h3 class="text-capitalize">some basic websites.</h3>
          <a href="#" class="mb-0"><i class="fas fa-camera"></i></a>
          <div class="title-underline"></div>

        </div>

      </div>
      <!--      end of title-->
      <!--      button row-->
      <div class="row">
        <div class="col text-center">
          <div class="btn-group btn-group-lg mb-5 button-group filter-button-group" role="group">
            <button type="button" class="btn text-uppercase" data-filter="*">all</button>
            <button type="button" class="btn text-uppercase" data-filter=".code">code</button>
            <button type="button" class="btn text-uppercase" data-filter=".website">website</button>
            <button type="button" class="btn text-uppercase" data-filter=".game">game</button>
          </div>
        </div>
      </div>
      <!--      images row-->
      <div class="row grid projects">
        <div class="col-sm-6 col-md-4 my-3 code">
          <article class="img-container">
            <img src="/img/code-1.png" class="img-fluid rounded project-image">
            <a href="#" class="search-link"><i class="fas fa-search"></i></a>
          </article>

        </div>
        <div class="col-sm-6 col-md-4 my-3 website">
          <article class="img-container">
            <img src="/img/solo_1.png" class="img-fluid rounded project-image">
            <a href="#" class="search-link"><i class="fas fa-search"></i></a>
          </article>
        </div>
        <div class="col-sm-6 col-md-4 my-3 website">
          <article class="img-container">
            <img src="/img/solo_6.png" class="img-fluid rounded project-image">
            <a href="#" class="search-link"><i class="fas fa-search"></i></a>
          </article>
        </div>
        <div class="col-sm-6 col-md-4 my-3 code">
          <article class="img-container">
            <img src="/img/casino.png" class="img-fluid rounded project-image">
            <a href="#" class="search-link"><i class="fas fa-search"></i></a>
          </article>
        </div>
        <div class="col-sm-6 col-md-4 my-3 website">
          <article class="img-container">
            <img src="/img/solo_7.png" class="img-fluid rounded project-image">
            <a href="#" class="search-link"><i class="fas fa-search"></i></a>
          </article>
        </div>
        <div class="col-sm-6 col-md-4 my-3 game">
          <article class="img-container">
            <img src="/img/casino.png" class="img-fluid rounded project-image">
            <a href="#" class="search-link"><i class="fas fa-search"></i></a>
          </article>
        </div>
        <div class="col-sm-6 col-md-4 my-3 website">
          <article class="img-container">
            <img src="/img/solo_5.png" class="img-fluid rounded project-image">
            <a href="#" class="search-link"><i class="fas fa-search"></i></a>
          </article>
        </div>
        <div class="col-sm-6 col-md-4 my-3 website">
          <article class="img-container">
            <img src="/img/solo_10.png" class="img-fluid rounded project-image">
            <a href="#" class="search-link"><i class="fas fa-search"></i></a>
          </article>
        </div>
        <div class="col-sm-6 col-md-4 my-3 game">
          <article class="img-container">
            <img src="/img/piggame.png" class="img-fluid rounded project-image">
            <a href="#" class="search-link"><i class="fas fa-search"></i></a>
          </article>
        </div>



      </div>



    </div>


  </section>



  <!-- end of projects-->
  <!--current project-->
  <section id="current-project" class="py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 py-5 about-text text-center align-self-center">
          <h2 class="text-uppercase">current project</h2>
          <p class="lead text-light">I'm currently working on building a social network where every body can relax and laugh.</p>
          <a href="https://afromeme.herokuapp.com" class="btn btn-lg d-block w-75 mx-auto text-uppercase mb-5">learn more</a>
        </div>
        <div class="col-md-6 current-project-photo my-5">
          <img src="/img/projects-coffee-1.jpeg" class="current-project current-project-1 img-thumbnail">
          <img src="/img/projects-coffee-2.jpeg" class="current-project current-project-2 img-thumbnail">
          <img src="/img/projects-tea-1.jpeg" class="current-project current-project-3 img-thumbnail">
          <img src="/img/projects-tea-2.jpeg" class="current-project current-project-4 img-thumbnail">

        </div>
      </div>
    </div>

  </section>
  <!--end of current project-->
  <!--posts section-->
  <!-- <section id="posts" class="py-5 px-4">
    <div class="container">
         title
      <div class="row title mb-5">
        <div class="col text-center">
          <h1 class="text-uppercase">latest posts</h1>
          <h3 class="text-capitalize">Lorem ipsum dolor sit amet.</h3>
          <a href="#" class="mb-0"><i class="fas fa-edit"></i></a>
          <div class="title-underline"></div>

        </div>

      </div>
          end of title
    </div>
    <div class="row">

          post
      <div class="col-md-6 col-lg-4 my-3">
        <div class="card">
          <img src="img/projects-code-1.jpeg" class="card-img-top" alt="coffe">
          <h6 class="corner-text mb-0 px-3">New</h6>
          <h1 class="my-2 text-capitalize">post name</h1>
          <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ullam, doloremque sequi rem impedit assumenda.

          </p>
          <hr class="mb-0">
          <div class="card-footer d-flex justify-content-between px-0">
            <a href="#" class="text-capitalize post-link h4">read more...</a>
            <h4>02/22/2018</h4>
          </div>
        </div>
      </div>
      end of post
           post
      <div class="col-md-6 col-lg-4 my-3">
        <div class="card">
          <img src="img/projects-website-1.jpeg" class="card-img-top" alt="coffe">
          <h6 class="corner-text mb-0 px-3">New</h6>
          <h1 class="my-2 text-capitalize">post name</h1>
          <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ullam, doloremque sequi rem impedit assumenda.

          </p>
          <hr class="mb-0">
          <div class="card-footer d-flex justify-content-between px-0">
            <a href="#" class="text-capitalize post-link h4">read more...</a>
            <h4>02/22/2018</h4>
          </div>
        </div>
      </div>
           end of post
          
      <div class="col-md-6 col-lg-4 my-3 mx-auto">
        <div class="card">
          <img src="img/projects-game-1.jpeg" class="card-img-top" alt="coffe">
          <h6 class="corner-text mb-0 px-3">New</h6>
          <h1 class="my-2 text-capitalize">post name</h1>
          <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ullam, doloremque sequi rem impedit assumenda.

          </p>
          <hr class="mb-0">
          <div class="card-footer d-flex justify-content-between px-0">
            <a href="#" class="text-capitalize post-link h4">read more...</a>
            <h4>02/22/2018</h4>
          </div>
        </div>
      </div>
      end of post
      post

    </div>

  </section> -->

  <!--end of posts section-->
  <!--contact-form-->
  <section id="contact-form" class='py-5'>
    <div class="container py-5">
      <div class="row height-30 align-items-center">
        <div class="col-md-8 mx-auto text-center">
          <h1 class="text-capitalize display-3">contact me</h1>
          <form class="form d-flex align-items-baseline">
            <input type="text" class="form-control form-control-lg m-2" id="name" placeholder="your email here....">
            <button type="submit" class="btn btn-lg text-capitalize">Submit here</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!--contact-form-->
  <!--values-->
  <section id="values" class="py-5">
    <!--     title-->
    <div class="row title mb-5">
      <div class="col text-center">
        <h1 class="text-uppercase">my values</h1>
        <!-- <h3 class="text-capitalize">Lorem ipsum dolor sit amet.</h3> -->
        <a href="#" class="mb-0"><i class="fas fa-rocket"></i></a>
        <div class="title-underline"></div>

      </div>

    </div>
    <!--      end of title-->


    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4 value text-center my-3">
          <span class="value-icon"><i class="fas fa-utensils fa-fw"></i></span>
          <span class="value-number">1</span>
          <h1 class="my-2 text-uppercase">eat</h1>
        </div>
        <div class="col-sm-6 col-lg-4 value text-center my-3">
          <span class="value-icon"><i class="fas fa-code fa-fw"></i></span>
          <span class="value-number">2</span>
          <h1 class="my-2 text-uppercase">code</h1>
        </div>
        <div class="col-sm-6 col-lg-4 mx-auto value text-center my-3">
          <span class="value-icon"><i class="fas fa-bed fa-fw"></i></span>
          <span class="value-number">3</span>
          <h1 class="my-2 text-uppercase">sleep</h1>
        </div>
      </div>
    </div>
  </section>
  <!--values-->
  <!--customer reviews-->
  <section id="reviews">
    <div class="row">
      <div class="col py-5">
        <div id="customer-slider" class="carousel slide" data-ride="carousel">
          <!--    indicators-->
          <ol class="carousel-indicators">
            <li data-target="#customer-slider" data-slide-to="0" class="active"></li>
            <li data-target="#customer-slider" data-slide-to="1"></li>
            <li data-target="#customer-slider" data-slide-to="2"></li>
          </ol>
          <!--  indicators-->
          <div class="carousel-inner">
            <div class="carousel-item active py-5">
              <div class="container text-center col-10 col-sm-8 mx-auto">
                <img src="/img/leducprof.jpg" width="150px" class="img-fluid rounded-circle" alt="">
                <div class="customer-text">
                  <h3 class="text-capitalize my-2">Leduc Tawamba</h3>
                  <h4 class="text-capitalize">ITSCHOOL INTERNATIONAL</h4>
                  <p class="lead">
                      <span>
                          <i class="fas fa-quote-left mr-2"></i>
                       </span>I wanted to launch online training classes but I didn't have a 
                       website nor a way to collect students informations then I came in contact with
                    @theblackdev and he proposed me a contact form with full validation and free hosting plan, I 
                    couldn't refuse this offer. Till today I'm impressed by his work.
                </p>
                  <div class="ratings">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <!-- <i class="far fa-star"></i> -->
                  </div>
                </div>

              </div>


            </div>
            <div class="carousel-item  py-5">
              <div class="container text-center col-10 col-sm-8 mx-auto">
                <img src="/img/banner-1.jpeg" width="150px" class="img-fluid rounded-circle" alt="">
                <div class="customer-text">
                  <h3 class="text-capitalize my-2">customer name</h3>
                  <h4 class="text-capitalize">company</h4>
                  <p class="lead"><span><i class="fas fa-quote-left mr-2"></i></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis dignissimos ducimus deserunt dicta eaque, neque, et harum ut consequuntur impedit.</p>
                  <div class="ratings">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>

              </div>


            </div>
            <div class="carousel-item py-5">
              <div class="container text-center col-10 col-sm-8 mx-auto">
                <img src="/img/banner-1.jpeg" width="150px" class="img-fluid rounded-circle" alt="">
                <div class="customer-text">
                  <h3 class="text-capitalize my-2">customer name</h3>
                  <h4 class="text-capitalize">company</h4>
                  <p class="lead"><span><i class="fas fa-quote-left mr-2"></i></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis dignissimos ducimus deserunt dicta eaque, neque, et harum ut consequuntur impedit.</p>
                  <div class="ratings">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>

              </div>


            </div>
          </div>
          <a class="carousel-control-prev" href="#customer-slider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
          <a class="carousel-control-next" href="#customer-slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>




        </div>
      </div>
    </div>
  </section>


  <!--end of customer reviews-->
  <!--websitem-->
  <section id="websitem" class="py-5">
    <div class="container">
      <!--     title-->
      <div class="row title mb-5">
        <div class="col text-center">
          <h1 class="text-uppercase">my comrades</h1>
          <!-- <h3 class="text-capitalize">Lorem ipsum dolor sit amet.</h3> -->
          <a href="#" class="mb-0"><i class="far fa-check-square"></i></a>
          <div class="title-underline"></div>

        </div>

      </div>
      <!--      end of title-->
      <div class="row">

        <article class="websitem-member col-sm-6 col-lg-4 my-3">
          <div class="member-container">
            <img src="/img/ezec.jpg" class="img-fluid websitem-image" alt="">

            <div class="member-info d-flex justify-content-around ">



              <div class="member-text">
                <h3 class="text-capitalize">thezetsu</h3>
                <h5 class="text-capitalize text-muted">graphic designer</h5>
                <div class="websitem-icons">
                  <a href="https://www.facebook.com/landrysitze" class="mr-2"><i class="fab fa-facebook"></i></a>
                  <a href="https://www.youtube.com/channel/UC9RJ_XrfaInTi6XFGfvy6fg" class="mx-2"><i class="fab fa-youtube"></i></a>
                  <a href="https://www.instagram.com/thezetsu" class="mx-2"><i class="fab fa-instagram"></i></a>
                  <!-- <a href="#" class="mx-2"><i class="fab fa-linkedin"></i></a> -->
                </div>
              </div>
              <div class="member-icon align-self-center">
                <a href="#"><i class="fas fa-plus-square"></i></a>
              </div>




            </div>
          </div>
        </article>
        <!-- <article class="websitem-member col-sm-6 col-lg-4 my-3">
          <div class="member-container">
            <img src="img/banner-2.jpeg" class="img-fluid websitem-image" alt="">

            <div class="member-info d-flex justify-content-around ">



              <div class="member-text">
                <h3 class="text-capitalize">comrade</h3>
                <h5 class="text-capitalize text-muted">web developer</h5>
                <div class="websitem-icons">
                  <a href="#" class="mr-2"><i class="fab fa-facebook"></i></a><a href="#" class="mx-2"><i class="fab fa-twitter"></i></a><a href="#" class="mx-2"><i class="fab fa-instagram"></i></a><a href="#" class="mx-2
     "><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-icon align-self-center">
                <a href="#"><i class="fas fa-plus-square"></i></a>
              </div>




            </div>
          </div>
        </article> -->
        <!-- <article class="websitem-member col-sm-6 col-lg-4 my-3 mx-auto">
          <div class="member-container">
            <img src="img/banner-3.jpeg" class="img-fluid websitem-image" alt="">

            <div class="member-info d-flex justify-content-around ">



              <div class="member-text">
                <h3 class="text-capitalize">comrade</h3>
                <h5 class="text-capitalize text-muted">web developer</h5>
                <div class="websitem-icons">
                  <a href="#" class="mr-2"><i class="fab fa-facebook"></i></a><a href="#" class="mx-2"><i class="fab fa-twitter"></i></a><a href="#" class="mx-2"><i class="fab fa-instagram"></i></a><a href="#" class="mx-2
     "><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-icon align-self-center">
                <a href="#"><i class="fas fa-plus-square"></i></a>
              </div>




            </div>
          </div>
        </article> -->


      </div>
    </div>
  </section>
  <!--end of websitem-->
  <!--  numbers-->
  <!-- <section id="numbers">
    <div class="container-fluid no-padding">
      <div class="row">
        <div class="col-sm-6 col-lg-3 text-center number py-3">
          <span><i class="fas fa-user fa-3x"></i></span>
          <h4 class="mt-3">1234</h4>

          <h3 class="text-capitalize">users</h3>
        </div>
        <div class="col-sm-6 col-lg-3 text-center number py-3">
          <span><i class="fas fa-download fa-3x"></i></span>
          <h4 class="mt-3">1234</h4>

          <h3 class="text-capitalize">downloads</h3>
        </div>
        <div class="col-sm-6 col-lg-3 text-center number py-3">
          <span><i class="fas fa-share-alt fa-3x"></i></span>
          <h4 class="mt-3">1234</h4>

          <h3 class="text-capitalize">shares</h3>
        </div>
        <div class="col-sm-6 col-lg-3 text-center number py-3">
          <span><i class="fas fa-eye fa-3x"></i></span>
          <h4 class="mt-3">1234</h4>

          <h3 class="text-capitalize">views</h3>
        </div>
      </div>
    </div>
  </section> -->




  <!--end of numbers-->
  <!--  contact section-->
  <section id="contact" class="py-5">
    <div class="container">
      <div class="row height-60 align-items-baseline">
        <div class="col-lg-6 col-sm-10 mx-auto my-3 ">
          <div class="card text-center">
            <div class="card-header text-centertext-uppercase">
              <h1 class="text-uppercase">contact form</h1>
            </div>
            <div class="card-body">
              <div class="errors"></div>
              <!-- Insert form here -->
              <%- include('./form.ejs') %>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block  text-center mb-5 align-self-center">
          <!-- <img src="img/banner-1.jpeg" alt="images" class="img-fluid rounded"> -->
          <img src="/img/banner-1.jpeg" alt="images" class="img-fluid rounded">



        </div>

      </div>
    </div>
  </section>
  <!-- end of contact section-->

  <%- include('../layouts/footer.ejs') %> 
