<%- include('../layouts/header.ejs') %> 
    <h1 class="alert alert-success">Your message was sent successfully</h1>
    <a href="/" class="btn btn-lg btn-warning">continue viewing?</a>
<%- include('../layouts/footer.ejs') %> 